body {
     background-color: burlywood;
}

#titulo {
    text-align: center;
    font-size: 50px;
    color: red;
}

.texto {
    text-align: justify;
    font-size: 35px;
    color: blue;

    
}